Flow.json
[
    {
        "id": "2bc7a9d027b5d9d8",
        "type": "tab",
        "label": "Azure",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ddd1dbd085b8a7e",
        "type": "ncd-wireless-node",
        "z": "2bc7a9d027b5d9d8",
        "d": true,
        "name": "",
        "connection": "",
        "config_comm": "",
        "addr": "",
        "sensor_type": "1",
        "auto_config": "",
        "node_id_delay_active": "",
        "node_id": 0,
        "delay": 300,
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "cm_calibration": "60.6",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel": "0",
        "impact_data_rate": "4",
        "impact_threshold": 25,
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_101_active": "",
        "output_data_rate_101": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "full_scale_range_101_active": "",
        "full_scale_range_101": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "e721db86cacd5c50",
                "41c4b7f8f6e1b775"
            ]
        ]
    },
    {
        "id": "e721db86cacd5c50",
        "type": "function",
        "z": "2bc7a9d027b5d9d8",
        "name": "Telemetry",
        "func": "var newMSG = {};\nnewMSG.payload = {};\nnewMSG.topic = \"telemetry\";\n\nnewMSG.payload.battery_percent = msg.data.battery_percent;\nnewMSG.payload.counter = msg.data.counter;\nnewMSG.payload.rssi = msg.data.rssi;\nfor(var key in msg.data.sensor_data){\n    newMSG.payload[key] = msg.data.sensor_data[key];\n}\nreturn newMSG;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "7690cf9a243b5512"
            ]
        ]
    },
    {
        "id": "7690cf9a243b5512",
        "type": "azureiotdevice",
        "z": "2bc7a9d027b5d9d8",
        "d": true,
        "deviceid": "",
        "pnpModelid": "",
        "connectiontype": "dps",
        "authenticationmethod": "sas",
        "iothub": "",
        "isIotcentral": true,
        "scopeid": "",
        "enrollmenttype": "device",
        "saskey": "",
        "certname": "",
        "keyname": "",
        "protocol": "mqtt",
        "retryInterval": 30,
        "methods": [],
        "DPSpayload": "",
        "gatewayHostname": "",
        "caname": "",
        "cert": "",
        "key": "",
        "ca": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "b4b8f641ff7b71fe"
            ]
        ]
    },
    {
        "id": "b4b8f641ff7b71fe",
        "type": "debug",
        "z": "2bc7a9d027b5d9d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "41c4b7f8f6e1b775",
        "type": "function",
        "z": "2bc7a9d027b5d9d8",
        "name": "Properties",
        "func": "var devices;\nif (flow.get(\"devices\")!==undefined){\n    devices = flow.get(\"devices\");\n}else{\n    devices = [];\n}\n\nif(devices.includes(msg.data.addr)){\n    return null;\n}\n\nvar newMSG = {};\nnewMSG.payload = {};\nnewMSG.topic = \"property\";\n\nnewMSG.payload.nodeId = msg.data.nodeId;\nnewMSG.payload.firmware = msg.data.firmware;\nnewMSG.payload.sensor_type = msg.data.sensor_type;\nnewMSG.payload.addr = msg.data.addr;\nnewMSG.payload.modem_mac = msg.data.modem_mac;\n\ndevices.push(msg.data.addr);\nflow.set(\"devices\",devices);\nreturn newMSG;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "7690cf9a243b5512"
            ]
        ]
    },
    {
        "id": "387cb3838ca3f330",
        "type": "ncd-gateway-node",
        "z": "2bc7a9d027b5d9d8",
        "d": true,
        "name": "",
        "connection": "",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "20a12fc35d340a10"
            ]
        ]
    },
    {
        "id": "20a12fc35d340a10",
        "type": "debug",
        "z": "2bc7a9d027b5d9d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    }
]
